
.ws-tab {
	margin: 0px 5px 0px 4px;	
	font: 1em arial; 
	color: black;
}

a {
	color: black;
}

a:link, .ws_pagerank, .ws_reload {
	text-decoration: none;
	position: relative;
	bottom: 4px;
	left: 4px;
	margin-right: 5px;
}

#ws_reload_data {
	margin-right: 2px;
}

.divider {
	border: 1px gray double;
	border-width: 0px 1px 0px 0px;
	width: 2px;
	height: 21px;
	position: absolute;
	top: 4px;	
}
